.wedget__categories.poroduct--cat ul li {
	border-bottom: none;
}

.wedget__categories.poroduct--cat > ul > li + li {
	margin-top: 16px;
}

.wedget__categories.poroduct--cat ul a {
	/* display: block; */
	display: flex;
	justify-content: space-between;
	border-bottom: 1px dashed #e1e1e1;
}

.wedget__categories.poroduct--cat ul li a span:first-child {
	float: none;
}

.wedget__categories.poroduct--cat ul li a:hover,
.wedget__categories.poroduct--cat ul li a:active,
.wedget__categories.poroduct--cat ul li a.active {
    color: #e59285;
}

.wedget__categories.poroduct--cat ul ul {
	margin-left: 16px;
}

.wedget__categories.pro--range,
.wedget__categories.pro--brands,
.wedget__categories.pro--origin {
    margin: 0 0 30px;
}

.wedget__categories.pro--brands .label-for-checkbox,
.wedget__categories.pro--origin .label-for-checkbox {
	display: flex;
	align-items: center;
	line-height: 1.2;
}

.wedget__categories.pro--brands input[type="checkbox"],
.wedget__categories.pro--origin input[type="checkbox"],
.wedget__categories.pro--brands input[type="radio"],
.wedget__categories.pro--origin input[type="radio"]  {
	vertical-align: middle;
	margin-right: 8px;
}

.product .product__thumb a {
	position: relative;
	padding-top: calc(340 / 270 * 100%);
}

.product .product__thumb a img {
	position: absolute;
	top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 8px;
}

.product__info__main .product-addto-links a:hover {
	background-position: center;
}

.snow-flake img {
    width: 30px;
}

.snow-flake {
    position: absolute;
    z-index: 999;
	pointer-events: none;
}
.svg-inline--fa {
	height: 1em;
	fill: currentColor;
}

.fa-cart-plus {
	width: calc(576/512*1em);
}

.fa-cart-arrow-down {
	width: calc(576/512*1em);
}

.product__info__main .product-addto-links a,
.product .product__content .action .actions_inner .add_to_links li a {
	font-size: 11px;
	color: #808080;
}

.product__info__main .product-addto-links a .svg-inline--fa,
.product .product__content .action .actions_inner .add_to_links li a .svg-inline--fa {
	vertical-align: middle;
	margin-top: -0.135em;
}

.product__info__main .product-addto-links a:hover {
	color: #ffffff;
}